/* 
    General Styles
*/
body{
    background: #272b30;
}
img{
    width: 100px;
    margin-left: 20px;
}
.btn{
    margin-right: 20px;
    margin-left: 10px;
    background: black;
    color: purple;
}
.btn:hover,
.btn:active,
.btn:focus {
    background: #00d8a1 !important;
    color:  #8a4dff!important; 
    outline: none; 
    box-shadow: none; 
}
.card{
    background-color: transparent;
    border: none;
}

.btn-outline-warning:hover {
    color:  #00d8a1 !important; 
    border-color:  #00d8a1!important; 
}
.fa-heart{
    color: red;
}
.scroll{
    gap: 150px;
    max-width: 100%;
    padding: 10px;
}
.scroll::-webkit-scrollbar {
    height: 8px; 
}
.scroll::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 15px; 
}
.section{
    color: #8a4dff;
    display: flex;
    margin-left: 100px;
}
.dropdown-toggle{
    border-color:  #00d8a1; 
    color: white!important;
}
.card-title{
    color:#4f9e9f ;
    margin-left: 10px;
    margin-bottom: 15px;
}
.jumbotron{
color: #00d8a1;
text-align: center;
}
ul li{
    list-style: none;
}
.delete-icon{
    width: 30px;
    margin-top: -9px;
}
.dropdown-menu{
    background: lightskyblue;
}
